In [1]:
import numpy as np

In [2]:
# create a list of height obs in inches
height = [72, 68, 69, 68, 72, 72]

# convert these obs to meters, conversion is inches*0.0254
#height*0.0254

height_m = [0 for _ in range(len(height))]

for i in range(len(height)):
    height_m[i] = height[i]*0.0254
height_m

[1.8288, 1.7271999999999998, 1.7526, 1.7271999999999998, 1.8288, 1.8288]

In [3]:
np_height = np.array(height)
np_height*0.0254

array([1.8288, 1.7272, 1.7526, 1.7272, 1.8288, 1.8288])

In [4]:
# one difference between lists and numpy arrays
mylist1 = [2,4,6]
mylist2 = [1,3,5]

mylist1 + mylist2 # appends

np_mylist1 = np.array(mylist1)
np_mylist2 = np.array(mylist2)
np_mylist1 + np_mylist2

array([ 3,  7, 11])

In [5]:
age = np.array([5,10,25,23,7])
# return the second element in age
print(age[1])
# return numbers 10 through 23
print(age[1:4])
# return all numbers from 25
print(age[2:])
# reverse the array
print(age[::-1])

10
[10 25 23]
[25 23  7]
[ 7 23 25 10  5]

In [6]:
# create a numpy vector of numbers between 2,10 with steps of 2
#print(np.arange(2,11,2))
# create a numpy vector of numbers between 2,10 with steps of .2
print(np.arange(2,10.2,.2))

[ 2.   2.2  2.4  2.6  2.8  3.   3.2  3.4  3.6  3.8  4.   4.2  4.4  4.6
  4.8  5.   5.2  5.4  5.6  5.8  6.   6.2  6.4  6.6  6.8  7.   7.2  7.4
  7.6  7.8  8.   8.2  8.4  8.6  8.8  9.   9.2  9.4  9.6  9.8 10. ]

In [7]:
print(age)
# return where age > 20
print(age[age>20])
# return where age <10 or age > 20
# or: |
# and: &
# not: ~ 
# not equals: !=
# equals: ==
print(age[(age<10)|(age>20)])
# return where age is not 10
print(age[~(age==10)])
print(age[age!=10])

[ 5 10 25 23  7]
[25 23]
[ 5 25 23  7]
[ 5 25 23  7]
[ 5 25 23  7]

In [8]:
# 2d arrays in numpy
height

# weight in lbs
weight = [200, 160, 150, 210, 200, 100]

mydata = np.array([height,weight])
print(mydata)

print(mydata.ndim)
print(mydata.size)
print(mydata.shape)

print(mydata[1,1])
# everything in row 2 from 160
print(mydata[1,1:])

[[ 72  68  69  68  72  72]
 [200 160 150 210 200 100]]
2
12
(2, 6)
160
[160 150 210 200 100]

In [9]:
# reshaping arrays in numpy
x = np.arange(1,10)
#print(x)
A = x.reshape(3,3)
print(A)

# resize() does the same, but overwrites
# reshape() does not overwrite
#x.resize(3,3)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [10]:
A = x.reshape(-1,3) # -1 is a wildcard
print(A)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [16]:
# convert height obs from inches to m (conversion is inches*0.0254)
# and weight from lbs to kg (conversion is lbs*0.4535)
mydata
# create a multiplier numpy array object named my_multiplier
my_multiplier = np.array([0.0254,0.4535])

mydata.reshape(6,2)*my_multiplier

array([[ 1.8288, 30.838 ],
       [ 1.7526, 30.838 ],
       [ 1.8288, 32.652 ],
       [ 5.08  , 72.56  ],
       [ 3.81  , 95.235 ],
       [ 5.08  , 45.35  ]])

In [13]:
mydata.shape

(2, 6)

In [15]:
np.array([0.0254,0.4535]).shape

(2,)

In [20]:
np.arange(1,10).reshape(3,3)*np.arange(1,4).reshape(3,1)

array([[ 1,  2,  3],
       [ 8, 10, 12],
       [21, 24, 27]])

In [21]:
threeD=np.array([[[10,20,30],[40,50,60]],[[15,25,35],\
    [45,55,65]],[[70,80,90],[75,85,95]]])
threeD

array([[[10, 20, 30],
        [40, 50, 60]],

       [[15, 25, 35],
        [45, 55, 65]],

       [[70, 80, 90],
        [75, 85, 95]]])

In [24]:
#threeD.ndim
threeD.shape

(3, 2, 3)

In [25]:
threeD[0,1,1] # 0th matrix,row 1, col 1

50

In [26]:
np.sqrt(threeD)

array([[[3.16227766, 4.47213595, 5.47722558],
        [6.32455532, 7.07106781, 7.74596669]],

       [[3.87298335, 5.        , 5.91607978],
        [6.70820393, 7.41619849, 8.06225775]],

       [[8.36660027, 8.94427191, 9.48683298],
        [8.66025404, 9.21954446, 9.74679434]]])

In [27]:
np.round(np.sqrt(threeD),3)

array([[[3.162, 4.472, 5.477],
        [6.325, 7.071, 7.746]],

       [[3.873, 5.   , 5.916],
        [6.708, 7.416, 8.062]],

       [[8.367, 8.944, 9.487],
        [8.66 , 9.22 , 9.747]]])